# General .gitignore files
.DS_Store
__pycache__


# Ignore data files
data/*
!data/INSTRUCTIONS.txt


# Input/Output files for GUI
inputs/*
outputs/*
!inputs/.gitkeep
!outputs/.gitkeep


# Virtual environments
.venv
venv
